* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

[data-aos] {
    transition-duration: 1s;
}

[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

body {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sectionWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}

.section1 {
    margin: auto;
    height: 100vh;
    width: 30%;
    left: 0px;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section1ContentWWrapper {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.detailsWrapper {
    margin: auto;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contactSection {
    display: flex;
    width: 100%;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: none;
}

.detailsWrapper .contactSection button {
    font-size: 30px;
    border: 1px solid #fbfbfb;
    /* padding: 1%; */
    color: #fbfbfb;
    background-color: transparent;
    border-radius: 5px;
    font-family: Kaushan Script;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    backdrop-filter: blur(5px);
}


.iconWrapper {
    align-items: center;
    display: flex;
    color: white;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 30px 5px;
}

.iconWrapper .icon {
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.iconWrapper .icon i {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    width: auto;
    display: flex;
    margin: auto;
    color: white;
    opacity: .5;
    margin: auto;
    margin: auto;
    font-size: 30px;
    transition: 350ms all ease;
}

.iconWrapper .icon i:hover {
    opacity: 1;
}

.imageWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    z-index: -1;
}

.imageWrapper img {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    object-fit: cover;
}


.section2 {
    margin: auto;
    height: 100vh;
    width: 70%;
    right: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    background-color: black;
}

.toggleOffBtn {
    display: none;
}

.formWrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: -10px 2px 10px #00000079;
    background-color: #fbfbfb;
    border-radius: 30px 0px 0px 30px;
}

.FormContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* background-color: blue; */
}

.ContactHeader {
    font-size: 45px;
    display: flex;
    font-weight: lighter;
    text-underline-offset: 0.2em;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-family: Lavishly Yours;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 15px;
    width: 60%;
}

.inputContainer .inputWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.inputContainer .genderInput {
    gap: 5px;
    border: none;
}

.checkbox {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.checkbox .genderProperty {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.inputContainer .inputWrapper h3 {
    font-size: 15px;
    display: flex;
    font-weight: lighter;
    font-family: dancing script;
}

.inputContainer .inputWrapper input {
    height: 30px;
    width: 100%;
    display: flex;
    border: none;
    background-color: transparent;
    padding: 0px 10px;
    outline: none;
}

.submitButtonWrapper {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.submitButtonWrapper button {
    transition: 350ms all ease;
    padding: 10px 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    font-family: dancing script;
    background-color: transparent;
}

.submitButtonWrapper button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .section1 {
        margin: auto;
        height: 100vh;
        width: 100%;
        left: 0px;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .section2 {
        background-color: transparent;
        transform: translateY(100%);
        flex-direction: column;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        align-items: flex-end;
        transition: 350ms all ease;
    }

    .toggleOffBtn {
        height: 30%;
        width: 100%;
        display: flex;
        border: none;
        background-color: transparent;
    }

    .transform {
        transform: translateY(0px);
    }

    .contactSection {
        display: flex;
    }

    .contactToggleBtn {
        display: flex;
    }

    .formWrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: 70%;
        box-shadow: -10px 2px 10px #00000079;
        background-color: #fbfbfb;
        border-radius: 30px 30px 0px 0px;
        bottom: 0px;
    }

    .inputContainer {
        width: 80%;
    }

}